body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.outer-con {
	margin-top: 1vw;
	content: '';
	width: 50vw;
	height: 50vw;
	background-color: grey;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 25px;
	padding: 1vw 1vw 1vw 1vw;
}

.row-wise {
	flex-wrap: wrap;
	background-color: white;
	border-radius: 25px;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 1vw;
}

#ran_num {
	border-radius: 25px;
	background-color: white;
	text-align: center;
	padding-top: -10vw;
	padding-bottom: 20vw;
	height: 8vw;
	width: 50vw;
	font-size: 20vw;
}
.btn {
	border:1vw 1vw 1vw 1vw;
	border-color: #666;
	border-style: solid; 
	font-size: 8vw;
}

.btn:hover {
	background-color: #ccc;
	cursor: pointer;
}

.btn:active {
	background-color: #999;
}

#reset {
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
	font-size: 2vw;
	cursor: pointer;
	border:1vw 1vw 1vw 1vw;
	border-color: #666;
	border-style: solid;
}

#reset:hover {
	background-color: #ccc;
}

#reset:active {
	background-color: #999;
}


#switch {
	padding-top: 2.5vw;
	font-size: 2vw;
	cursor: pointer;
	border:1vw 1vw 1vw 1vw;
	border-color: #666;
	border-style: solid;
}

#switch:hover {
	background-color: #ccc;
}

#switch:active {
	background-color: #999;
}

#show_time {
	padding-top: 2.5vw;
}

@keyframes wrong {
  0% {background-color: white;}
  50% {background-color: red;}
  100% {background-color: white;}
}

@keyframes right {
  0% {background-color: white;}
  50% {background-color: cyan;}
  100% {background-color: white;}
}
