@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

:root {
	--container-width: 60%;
	--background: #2E3840;
	--foreground: #F9DBBB;
	--wrong: #FF0303;
	--right: #116D6E;
}

html {
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--foreground);
	background-color: var(--background);
}

.container {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: var(--container-width);
	height: 95vh;
	display: flex;
	flex-direction: column;
}

.outer-con {
	background-color: var(--foreground);
	width: 100%;
	display: flex;
	justify-content: space-evenly;

}

.outer-con:nth-child(2) {
	border-radius: 0px !important	;
}

.outer-con:nth-child(1) {
	border-radius: 25px 25px 0px 0px !important	;
}

.outer-con:nth-child(3) {
	border-radius: 0px 0px 25px 25px !important	;
}


.row-wise {
	font-size: 2em;
	margin:1em;
	width: 4em;
	text-align: center;
	padding: 1.5em 0em;
	background-color: var(--background);
	border-radius: 15px;
}

#show_time {
	background-color: #116D6E;
	animation: right 1s ease-in-out 0s infinite alternate;
}

#ran_num {
	border-radius: 15px;
	text-align: center;
	font-size: 4em;
	margin:1em;
	width: 4em;
	background-color: var(--background);
}

.btn:hover {
	cursor: pointer;
	animation: fade_bg 1s ease-in-out 0s infinite alternate;
}


@keyframes wrong {
  0% {background-color: var(--background);}
  25% {background-color: var(--wrong);}
  100% {background-color: var(--background);}
}

@keyframes right {
  0% {background-color: var(--background);}
  25% {background-color: var(--right);}
  100% {background-color: var(--background);}
}

@keyframes fade_bg {
	0% {
		background-color: var(--foreground);
		color: var(--background);
		border: 1px solid var(--background);
	}
	100%{
		background-color: var(--background);
		color: var(--foreground);
		border: 1px solid var(--foreground);
	}
}